@import url('https://fonts.googleapis.com/css2?family=Cambo&family=Gotu&family=Instrument+Serif:ital@0;1&display=swap');

/* Remova margens e paddings do navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Inclui bordas e paddings no cálculo do tamanho total */
    text-decoration: none;
}

/* Estilo do corpo (main/sessão1)*/

#sessao1 {
    margin: 0; /* Remove margens padrão */
    overflow-x: hidden; /* Evita rolagem horizontal indesejada */
    width: 100%;
    height: 100%;
    background-image: url("images/sl_0210121_40570_43.jpg");
    background-repeat: no-repeat; /* Evita repetição da imagem */
    background-position: top left; /* Alinha a imagem no canto superior esquerdo */
    display: flex;
 
}

.escritorio{
    width: 797px;
    height: 405px;
    flex-shrink: 0;
    border-radius: 0px 50px 50px 0px;
    background: rgba(255, 254, 254, 0.10);
    margin-top: 118px;
    padding: 80px;
    
        
}

.escritorio h1 {
    color: #D2AE6D;
    font-family: "Instrument Serif";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
        
}

.escritorio h2 {
    color: #FFF;
    font-family: Gotu;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}

#advogada-escritorio {
    border: none;
    padding: 40px;
}