@import url('https://fonts.googleapis.com/css2?family=Cambo&family=Gotu&family=Instrument+Serif:ital@0;1&display=swap');

/* Remova margens e paddings do navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Inclui bordas e paddings no cálculo do tamanho total */
    text-decoration: none;
}


/* Estilo do topo (header)*/
.topo {
    background-color: black; /* Fundo preto */
    color: #D2AE6D; /* Texto dourado */
    padding: 24px;
          
}

#nav-bar{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav-logo{
    color: #D2AE6D;
    font-family: "Instrument Serif";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
    gap: 10px;

}

#nav-list{
    display: flex;
    list-style: none;
    color: #FFF;
    font-family: Gotu;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    gap: 20px;
}

.nav-item a {
    text-decoration: none;
    color: #FFF;
    
}


/* Estilo dos botões de redes sociais*/
.botao_redes {
    display: inline-block;
    background: black;
    padding: 0;
}


.botao_redes:hover img {
    opacity: 0.5;      
}

.redes_sociais {
    display: flex;
    gap: 20px;
}

.bot-whats {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D2AE6D;
    border-radius: 10px;
    padding: 10px 14px;
    font-weight: 600;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 2);
    cursor: pointer;
    opacity: 0.8;
  }
  
  .bot-whats:hover {
    opacity: 1;
  }

  .rodape {
    width: 100%;
    height: 80px;
    flex-shrink: 0;
    background: #D2AE6D;
    color: #000;
    text-align: center;
    font-family: Gotu;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
  }


